
/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Work+Sans:300,400,500,600,700,800');
 body {
	font-family: 'Work Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: #2B96CC;
	text-decoration: none;
}
a,
button {
	color: #1696e7;
	outline: medium none;
}
button:focus {
  outline: 0 none;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	color: #333333;
	margin-top: 0px;
	font-style: normal;
	font-weight: 400;
	text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 17px;
	font-weight: normal;
	line-height: 30px;
	color: #777777;
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
.btn {
  -moz-user-select: none;
  background: #2f3440 none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-family: poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.1;
  padding: 20px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
}
.btn.brand-btn{background: #fbba42;color: #222}
.btn.btn-2 {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #fbba42;
  line-height: 1;
  padding: 17px 35px;
}

.header-top-area {
  border-bottom: 1px solid #fbba42;
}
.language ul li a {
  color: #646464;
  display: inline-block;
  font-family: "Poppins",sans-serif;
  font-size: 14px;
  padding: 18px 0;
}
.language ul li:hover> a{color: #fbba42}
.language ul li{}
.language ul li ul {
  background: #222 none repeat scroll 0 0;
  left: 0;
  opacity: 0;
  padding: 7px 0;
  position: absolute;
  top: 100%;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 110px;
  z-index: 9;
}
.language ul li:hover ul{opacity: 1;visibility: visible;}
.language ul li ul li{}
.language ul li ul a {
  color: #ddd;
  display: block;
  font-size: 12px;
  padding: 5px 14px;
}

.social-icon{
  margin-left: 30px;
  padding-left: 30px;
  position: relative;
}
.social-icon::before {
  background: #efefef none repeat scroll 0 0;
  content: "";
  height: 20px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 2px;
}
.social-icon > a {
  color: #646464;
  font-size: 14px;
  margin-right: 15px;
}
.social-icon > a:hover{color: #fbba42}


.header-right {
  margin-top: 15px;
}
.header-right li {
  display: inline-block;
}
.header-right ul li a {
  color: #646464;
  font-size: 16px;
}
.header-right li {
  display: inline-block;
  margin-left: 30px;
  position: relative;
}
.search-form {
  background: #222 none repeat scroll 0 0;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 200px;
  z-index: 9;
}
.header-right li:hover .search-form{visibility: visible;opacity: 1}
.search-form input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  height: 45px;
  padding: 0 15px;
  width: 100%;
}
.search-form button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  line-height: 45px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 48px;
}
.search-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.search-form input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.search-form input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.search-form input:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}


/* header bottom */
.header-button {
  margin-left: 40px;
  margin-top: 31px;
}
.header-button > a {
  border: 2px solid #3b3f42;
  border-radius: 30px;
  color: #3b3f42;
  display: inline-block;
  font-weight: 500;
  padding: 14px 35px;
}
.header-button > a:hover{background: #fbba42;color: #3b3f42;border-color:#fbba42}
.main-menu ul li a {
    color: #3b3f42;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 48px 0;
}
.main-menu ul li {
  display: inline-block;
  margin-left: 50px;
  position: relative;
}
.main-menu ul li:hover > a{color:#fbba42 }

.main-menu ul li ul.submenu {
  background: #222 none repeat scroll 0 0;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 110%;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 250px;
  z-index: 9;
}
.main-menu ul li:hover > ul.submenu{opacity: 1;visibility: visible;top:100%;}
.main-menu ul li ul.submenu li {
  border-bottom: 1px solid #9c9c9c;
  display: block;
  margin: 0;
}
.main-menu ul li ul.submenu li:last-child{border: 0;}
.main-menu ul li ul.submenu li a {
  color: #ddd;
  display: block;
  padding: 10px 20px;
}
.main-menu ul li ul.submenu li:hover > a{color: #FBBA42}


.main-menu ul li ul.submenu li ul.submenu {
  left: 100%;
  top: 0;
}

header.transparent-header {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 56;
}
.transparent-header .main-menu ul li {
  margin-left: 45px;
}
.transparent-header .social-icon > a {
  color: #343434;
}
.transparent-header .language ul li a {
  color: #343434;
}
.transparent-header .header-right ul li a {
  color: #343434;
}
.transparent-header .header-top-area {
  border-bottom: 1px solid #d9a138;
}
.transparent-header .main-menu ul li a {
  color: #343434;
}



/* slider-area */
.single-slider.slider-height {
  min-height: 850px;
   background-size: cover;
}

.slider-content span {
    font-family: poppins;
    font-size: 14px;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.slider-content h1 {
    color: #333;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 12px;
    margin-top: 18px;
}
.slider-content p {
  color: #414149;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 40px;
  padding-right: 120px;
}
.single-slider.height-100 {
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
.slide-img.slider-full > img {
  width: 75%;
}


/* features area */

.features-title > h2 {
    color: #414149;
    font-size: 48px;
    font-weight: 600;
    margin: 0;
}
.features-title > h2 span {
    color: #fbba42;
}
.single-features h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
}
.single-features > p {
  font-size: 17px;
  line-height: 30px;
  margin: 0;
}
.single-features > img {
    margin-bottom: 30px;
}
.single-features {
  padding: 0 5px;
}

/* promotion area */
.promotion-img {
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
}
.promotion-area {
  position: relative;
}
.promotion-text {
  padding-left: 65px;
}
.promotion-text h3 {
  font-size: 28px;
  font-weight: 600;
}
.promotion-text > span {
  color: #777777;
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}
.promotion-text > p {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 30px;
}


/* portfolio area */
.portfolio-thumb {
    position: relative;
}
.portfolio-thumb::before {
  background: #fbba42 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 100%;
}
.portfolio-wrapper:hover .portfolio-thumb::before{opacity: .85;visibility: visible;}
.portfolio-thumb > img {
    width: 100%;
}
.portfolio-content {
    left: 0;
    padding: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
    visibility: hidden;
    opacity: 0;
}
.portfolio-wrapper:hover .portfolio-content{opacity: 1;visibility: visible;}
.portfolio-wrapper {
    position: relative;
}
.portfolio-content > h3 {
    color: #2f3440;
    font-size: 18px;
    font-weight: 600;
}
.icon a {
  display: inline-block;
  height: 20px;
  margin-bottom: 10px;
  position: relative;
  width: 20px;
}
.icon a::before ,.icon a::after {
    background: #414149 none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 20px;
}
.icon a::after {
  height: 20px;
  top: -9px;
  width: 2px;
}


.portofilo-menu > button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #3b3f42;
  cursor: pointer;
  font-weight: 400;
  margin: 0 8px;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.portofilo-menu > button:focus {
  outline: 0 none;
}
.portofilo-menu > button:hover,.portofilo-menu > button.active{background: #fbba42}

/* section title */
.section-title > h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 15px;
}
.section-title > p {
  font-size: 17px;
  line-height: 30px;
}
/* counter area */
.counter-area {
  background-size: cover;
}
.single-couter > span {
  color: #333333;
  display: block;
  font-family: poppins;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 20px;
}
.single-couter > p {
  color: #333333;
  font-size: 15px;
  margin: 0;
  text-transform: uppercase;
}

/* latest blog */
.blog-wrapper {
    border: 1px solid #e0e0e0;
    overflow: hidden;
    padding: 30px;
    transition: .3s;
}
.blog-wrapper:hover{border: 1px solid transparent;background: #fff;}
.blog-inner {
    overflow: hidden;
}
.tag-blog > a {
  background: #fbba42 none repeat scroll 0 0;
  border-radius: 30px;
  color: #333333;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: 7px 20px;
}
.blog-inner h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 20px;
  margin-top: 15px;
}
.blog-inner > p {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 20px;
}
.blog-meta {
  border-top: 1px solid #e0e0e0;
  padding-top: 25px;
}
.blog-meta span {
  color: #646464;
}
.blog-meta span a {
  color: #333333;
  font-size: 11px;
}
.blog-more {
  color: #3b3f42;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  transform: translateX(0px);
  transition: all 0.3s ease 0s;
}
.blog-more-btn {
  transform: translateX(40px);
  transition: all 0.3s ease 0s;
}
.blog-wrapper:hover .blog-more-btn {transform: translateX(0px);}
.custom-row {
  margin: 0 -15px;
}

.dot-style .slick-dots {
  bottom: -60px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}
 .dot-style .slick-dots > li {
  display: inline-block;
  line-height: 0;
  margin: 0 5px;
}
.dot-style .slick-dots > li.slick-active button{background: #646464}
.dot-style .slick-dots button {
  border: 2px solid #646464;
  border-radius: 50%;
  height: 10px;
  padding: 0;
  text-indent: -10000px;
  width: 10px;
}

/* testimonial-wrapper */
.testimonial-wrapper {
  border: 1px solid #ebebeb;
  margin-top: 60px;
  padding: 0 40px 35px;
}
.testimonial-img {
  margin-bottom: 25px;
  margin-top: -59px;
    display: inline-block;
  text-align: center;
}
.testimonial-wrapper > p {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 20px;
}
.client-info > h4 {
  font-size: 18px;
  font-weight: 500;
}
.client-info > span {
  color: #777777;
  font-size: 14px;
}

.brand-border{border-bottom: 1px solid #fbba42}

/* footer */
.footer-widget > h3 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
}
.footer-info > li {
  color: #777777;
  font-size: 17px;
  line-height: 36px;
}
.footer-link > li {
  float: left;
  width: 50%;
}
.footer-link li a {
  color: #777;
  display: inline-block;
  font-size: 17px;
  line-height: 36px;
  padding-left: 20px;
  position: relative;
}
.footer-link li a::before {
  content: "ïƒš";
  font-family: fontawesome;
  left: 0;
  position: absolute;
  top: 0;
}
.footer-widget > form {
  position: relative;
}
.footer-widget form input {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  height: 40px;
  padding: 0 15px;
  width: 100%;
}
.footer-widget form button {
  background: #fbba42 none repeat scroll 0 0;
  border: 0 none;
  color: #3b3f42;
  font-weight: 600;
  height: 100%;
  padding: 0 15px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
}
.footer-icon > a {
  color: #3b3f42;
  font-size: 14px;
  margin-right: 40px;
}
.footer-icon > a:hover{color: #fbba42}
.copyright-text > p {
  margin: 0;
}








.extra-info {
  background: #222 none repeat scroll 0 0;
  height: 100%;
  padding: 30px;
  position: fixed;
  right: -100%;
  top: 0;
  transition: all 0.7s ease 0s;
  width: 400px;
  z-index: 88;
}
.extra-info.info-open {
  right: 0;
}
.close-icon {
  margin-top: -16px;
  text-align: right;
}
.close-icon > button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #fbba42;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
}
.extra-info > p {
  color: #ddd;
  font-size: 15px;
  line-height: 28px;
}
.instagram > a {
  float: left;
  width: 33.33%;
}
.instagram img {
  width: 100%;
}
.social-icon-right > a {
  border: 2px solid #ddd;
  color: #fff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  width: 40px;
}
.instagram {
  overflow: hidden;
}












